<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free Restaurant Catalogue For You">
  <meta name="theme-color" content="#DB0000" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <title>My Restaurant Apps</title>
</head>

<body>
  <a href="#main-content" class="skip-link">Menuju ke konten</a>
  <header class="header">
    <!-- start text header -->
    <div class="header__inner">
      <h1 class="header__title">
        RESTAURANT APPS
      </h1>
      <!-- stop text header -->
    </div>
    <!-- start menu -->
    <button id="menu" class="header__menu">☰</button>
    <!-- stop menu -->
  </header>

  <!-- start drawer -->
  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="/#/favorite">Favorite</a></li>
      <li class="nav__item"><a href="https://www.linkedin.com/in/adisufatul-anam/">About Us</a></li>
    </ul>
  </nav>
  <!-- stop drawer -->

  <!-- start hero -->
  <div id="hero" class="hero"></div>
  <!-- stop hero -->

  <!-- start main-content -->
  <main tabindex="0" id="mainContent"></main>
  <!-- stop main content -->
  <footer>
    <p>Submission Expert 2 <a href="https://www.linkedin.com/in/adisufatul-anam/" target="_blank"
        rel="noreferrer">Adisufatul Anam</a></p>
  </footer>
</body>

</html>